<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>wdtLoading - Asana like application loading spinner</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="{{ url_for('static',filename='styles/loading.css') }}">

  
</head>

<body>
  <meta http-equiv="refresh" content="10;URL='/predict'">
  <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

  <div class="wdt-loading-screen">

    <div class="wdt-loading-phrases">

      <div class="wdt-loading-phrase-category" data-category="default">
          <div class="wdt-loading-phrase">Analyzing Past data</div>
        <div class="wdt-loading-phrase">Loading Predictive model</div>
        <div class="wdt-loading-phrase">Making Predictions</div>
        <div class="wdt-loading-phrase">Looking for proactive actions</div>
      </div>   

    </div>

  </div>    
  <script  src="{{ url_for('static',filename='loading.js') }}"></script>




</body>

</html>
